<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>doc</title>
</head>
<body>
  <center>
    <h1>REGISTER</h1>
    <form name="register" method="post" action="../insertuser/">
      {% csrf_token %}
      <pre>
        UID     : <input type="text" name="tuid" value="" width="200"><br>
        name    : <input type="text" name="tuname" value="" width="200"><br>
        email   : <input type="text" name="tuemail" value="" width="200"><br>
        contact : <input type="text" name="tucontact" value="" width="200"><br>

       <input type="submit" name="reg" value="Register" width="300" height="100">
      </pre>

    </form>



  </center>
 

</body>
</html>